# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Algorithm/Algorithm/bin/Debug/Algorithm.exe.config
Algorithm/Algorithm/bin/Debug/Algorithm.pdb
Algorithm/Algorithm/bin/Debug/Algorithm.vshost.exe.config
Algorithm/Algorithm/bin/Debug/Algorithm.vshost.exe.manifest
Algorithm/Algorithm/obj/Debug/Algorithm.csproj.FileListAbsolute.txt
Algorithm/Algorithm/obj/Debug/Algorithm.csprojResolveAssemblyReference.cache
Algorithm/Algorithm/obj/Debug/Algorithm.pdb
Algorithm/Algorithm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Algorithm/Algorithm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Algorithm/Algorithm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Algorithm/Algorithm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
